.CodeBlockListView {
    .react-tabs__tab-list {
        margin-bottom: 0px !important;
    }
}

.CodeBlockListView__Body {
    display: grid;
    grid-template-areas:
        "content";

    .CodeBlockCard {
        grid-area: content;
    }
}

