.CodeBlockListView {
    display: grid;
    grid-template-areas:
        "tabs"
        "content";

    .CodeBlockListView__Tabs {
        grid-area: tabs;
    }

    .CodeBlockCard {
        grid-area: content;
    }
}

