.FactCard {
  @apply cursor-pointer;

  background-color: #cceeff;

  ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 16px;
  }
}

.FactCard__Text {
  > ul {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.FactCard__Title {
  font-weight: bold;
  text-align: center;
}

.FactCard__Body {
    display: grid;
    grid-template-areas:
        "content";

    .FactCard__Content {
        grid-area: content;
    }
}
