.PageView {
    overflow: hidden;

    .PageView__LeftPanel {
        direction: rtl;
        overflow-y: auto;
    }

    .PageView__RightPanel {
        overflow-y: auto;
    }

    .PageView__Sections {
        direction: ltr;
    }
}