.PageView {
    overflow: hidden;
}

.PageView__Body {
    overflow: hidden;

    .PageView__LeftPanel {
        direction: rtl;
        overflow-y: auto;
    }

    .PageView__RightPanel {
        overflow-y: auto;
        background-color: white;
    }

    .PageView__Sections {
        direction: ltr;
    }

    .PageView__Credits {
    }

    #PageView__RightPanel {
        width: 200px;
    }
}